{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <div id="wrapper">
    <main>
      <!---section main-->
      <section class="section-about">
        <div class="container">
          <div class="about-us">
            <h1>About Us</h1>
            <div class="about-calculator">
              <h2>Servces we provides</h2>
              <p>
                We are committed to publishing the most accurate and 
                actionable advice, personalized calculators and educational 
                tools to help people navigate life’s big personal finance decisions
              </p>
            </div>
          </div>
        </div>
         </section> 
      </main>  
  </div>
</body>
{% endblock content %}
