{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .mb-3 {
    border: 5px;
    text-align: center;
    margin-top: 25px;
  }
</style>
  <form action="/signin/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputLoginEmail" class="form-label">
        Username
      </label><br>
      <input
        name="username"
        type="text"
        class="form-control"
        id="exampleInputLoginEmail"
        aria-describedby="emailHelp"
        required
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label"
        >Password
      </label><br>
      <input
        name="password"
        type="password"
        id="inputLoginPassword"
        class="form-control"
        required
        aria-describedby="passwordHelpBlock"
      />
    </div>

    <div class="mb-3">
    <button
      type="submit"
      class="btn btn-primary w-100 login-button"
    >
      Login
    </button>
    </div>

    <div class="mb-3">
      {% for message in messages %}
      <!-- <div
        class="alert alert-success d-flex align-items-center alert-dismissible fade show"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Success:"
        >
          <use xlink:href="#check-circle-fill" />
        </svg>
        {% for message in messages %}
        <strong>{{ message }}</strong>
        {% endfor %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div> -->
      <div
        class="alert alert-success d-flex align-items-center"
        role="alert"
      >
        <svg
          class="bi flex-shrink-0 me-2"
          width="24"
          height="24"
          role="img"
          aria-label="Success:"
        >
          <use xlink:href="#check-circle-fill" />
        </svg>
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </form>
{% endblock content %}