{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  <div id="wrapper">
    <!--Header start-->
    <header class="header">
      <div class="container">
      </div>
      <!--Page Navigation ends-->
    </header>
    <main id="main">
      <div class="container-news">
        <section class="section-news">
          <h1>Tax News</h1>
          <div class="news-container">
            {% for post in object_list %}
            <div class="description">
              <artcle class="articles">
                <div class="heading">
                  <h3>{{ post.title }}</h3>
                  <div class="desc-visible">
                    <p>{{ post.content| truncatechars:300 }}</p>
                    <a class="show-more" href="{% url 'inside-news' post.id %}">View Full Coverage</a>
                  </div>
                </div>
              </artcle>
            </div>
            {% endfor %}
          </div>
    </main>
  </div>
</body>
{% endblock content %}